@page
@model VehiculosTransporte.App.Frontend.Pages.EditarVerificacionModel
@{
}
<h2> Editar Verificacion </h2>
<form method="post">
    <input type="hidden" asp-for="verificacion.Id"/>
    <div class="form-group">
        <label asp-for="verificacion.MecanicoId"></label>
        <input asp-for="verificacion.MecanicoId" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="verificacion.VehiculoId"></label>
        <input asp-for="verificacion.VehiculoId" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="verificacion.Nivel_Aceite"></label>
        <input asp-for="verificacion.Nivel_Aceite" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="verificacion.Nivel_Liquido_frenos"></label>
        <input asp-for="verificacion.Nivel_Liquido_frenos" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="verificacion.Nivel_Refrigerante"></label>
        <input asp-for="verificacion.Nivel_Refrigerante" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="verificacion.Nivel_Liquido_direccion"></label>
        <input asp-for="verificacion.Nivel_Liquido_direccion" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>



</form>