@page
@model VehiculosTransporte.App.Frontend.Pages.EditarPersonaModel
@{
}
<h2> Persona </h2>
<form method="post">
    <input type="hidden" asp-for="persona.Id"/>
    <div class="form-group">
        <label asp-for="persona.Nombres"></label>
        <input asp-for="persona.Nombres" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.Apellidos"></label>
        <input asp-for="persona.Apellidos" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.Cedula"></label>
        <input asp-for="persona.Cedula" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.Numero_Telefono"></label>
        <input asp-for="persona.Numero_Telefono" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.Direccion"></label>
        <input asp-for="persona.Direccion" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>



</form>