@page
@model VehiculosTransporte.App.Frontend.Pages.CrearVehiculosModel
@{
}

<h5>Crear Vehiculo</h5>
<table class="table">

    @foreach (var vehiculo in Model.vehiculos)
    {
        <tr>
            <td>Nombre: @vehiculo.Placa </td>
            <td>@vehiculo.Marca </td>
            <td>@vehiculo.Modelo </td>
        </tr>
    }
</table>