@page
@model VehiculosTransporte.App.Frontend.Pages.EditarVehiculoModel
@{
}
<h2> Vehículo </h2>
<form method="post">
    <input type="hidden" asp-for="vehiculo.Id"/>
    <div class="form-group">
        <label asp-for="vehiculo.Placa"></label>
        <input asp-for="vehiculo.Placa" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="vehiculo.Placa"></span>
    </div>
    <div class="form-group">
        <label asp-for="vehiculo.Marca"></label>
        <input asp-for="vehiculo.Marca" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="vehiculo.Marca"></span>
    </div>
    <div class="form-group">
        <label asp-for="vehiculo.Modelo"></label>
        <input asp-for="vehiculo.Modelo" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="vehiculo.Modelo"></span>

    </div>
    <div class="form-group">
        <label asp-for="vehiculo.Expiracion_tenicomecanica"></label>
        <input asp-for="vehiculo.Expiracion_tenicomecanica" type="date" class="form-control">
        <span class="text-danger" asp-validation-for="vehiculo.Expiracion_tenicomecanica"></span>
    </div>
    <div class="form-group">
        <label asp-for="vehiculo.Expiracion_soat"></label>
        <input asp-for="vehiculo.Expiracion_soat" type="date" class="form-control">
        <span class="text-danger" asp-validation-for="vehiculo.Expiracion_soat"></span>
    </div>
    <div class="form-group">
        <label asp-for="vehiculo.Expiracion_seguro_contractual"></label>
        <input asp-for="vehiculo.Expiracion_seguro_contractual" type="date" class="form-control">
        <span class="text-danger" asp-validation-for="vehiculo.Expiracion_seguro_contractual"></span>
    </div>
    <div class="form-group">
        <label asp-for="vehiculo.Expiracion_extra_contractual"></label>
        <input asp-for="vehiculo.Expiracion_extra_contractual" type="date" class="form-control">
        <span class="text-danger" asp-validation-for="vehiculo.Expiracion_extra_contractual"></span>
    </div>

    <button type="submit" class="btn btn-dark"><i class="fa-solid fa-floppy-disk"></i></button>



</form>